<% if comment.content %>
  <div>
    <%= comment.content %> | by <%= comment.commenter %> 
    <%= link_to 'Edit Comment', edit_post_comment_path(comment.post.id, comment), :class => "btn btn-outline-primary"  %>
    <%= link_to 'Delete Comment',  post_comment_path(comment.post.id, comment), :class => "btn btn-outline-danger" %>
  </div>
<% end %>

